 @charset "utf-8";
/* CSS  */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin: 0;}    
fieldset, img { border: 0; }    
table {border-collapse: collapse;  border-spacing: 0;}    
ol, ul {list-style: none; }    
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal;}    
caption, th {text-align: left;}    
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}    
q:before, q:after {content: '';}    
abbr, acronym {border: 0;}
/* 清除浏览器默认样式*/
*,*:before,*:after{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  /*设置该属性表示，不希望任何元素生产的填充或边框影响盒子的大小*/ 
/* -webkit-touch-callout:none;
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 以上设置用于手机端防止长按选中等问题*/
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:transparent;
}
html{
  background: linear-gradient(#605DA1,#66ADC0);
  height: 100%;
}
body{
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin:0;
  color:#fff;
  text-shadow:1px 1px 0 rgba(0,0,0,.2);
  word-wrap:break-word;
  
}

.popup{
  width:100%;
  padding:10px 0 20px;
}
.seprator{
  margin:0;
  border-width:1px 0 0 0;
}
.panel{
  background-color:rgba(0,0,0,.1);
  border-radius:5px;
  width:90%;
  height:125px;
  margin:auto;
  position:relative;
}
.fill{
  width:100%;
  height:100%;
}
.supper-center{
  display:-webkit-flex;
  display:flex;
  vertical-align:baseline;
  text-align:center;
}
.supper-center div,
.supper-center span,
.supper-center img{
  margin:auto; 
}
.modal{
  background:0 0;
  -webkit-box-shadow: 0 0 10px #000;
-moz-box-shadow: 0 0 10px #000;
-o-box-shadow: 0 0 10px #000;
-ms-box-shadow: 0 0 10px #000;
box-shadow: 0 0 10px #000;
}

